
.album-page {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /*
  width: 300px;
  */
  height: 50px;

  align-items: center;

  .album {
    cursor: pointer;
  }

}


.album {
  margin-bottom: 15px;
  //border-bottom: 1px dotted black;
  /*flex-wrap:wrap;*/
  display: flex;
  justify-content: center;
  width: 30%;
  outline: 1px solid black;
  padding: 25px 50px;


}

.photos-page {
  display: flex;
  /*flex-direction: column;*/


  margin: 15px;
  border-bottom: white;
  flex-flow: row wrap;

  /*   align-content: flex-start;*/

  .photo-container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin: 15px;
    outline: 1px solid black;
    padding: 25px 5px;
    width: 350px;
    height: 220px;
    text-overflow: ellipsis;
    overflow: hidden;

    position: relative;
    max-width: 262px;
    background-color: #f2f8f9;
    border-radius: 4px;
    text-decoration: none;
    border: 1px solid #f2f8f9;
    transition: all 0.3s ease-out;
    cursor: pointer;
    user-select: none;

    .title {
      font-family: "Blackadder ITC", serif;
      font-size: x-large;
      width: 250px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .image {
      width: 150px;
      height: 150px;
    }

    &:hover {
      border: 1px solid #00838d;
      box-shadow: 0 0 999px 999px rgba(255, 255, 255, 0.5);
      z-index: 500;
    }
  }
}





